<style media="screen">
.hvr-btn {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
tr:hover .hvr-btn {
  opacity: 1;
}
a.disabled {
    color: #AAAAAA;
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}
</style>
<h3>
  {{title}}
  &nbsp;
  <small ng-if="registros.length>0">
    {{registros.length}} registros
  </small>
</h3>
<!-- Container principal  -->
<div class="container-fluid">
  <!-- Campo de busca -->
  <!-- <input type="text" class="form-control" placeholder="Buscar..." style="margin-bottom: 0.5em"
  ng-model="searchText" ng-hide="registros.length == 0" aria-label="Buscar..."> -->
  <!-- Exibição de informativo caso a lista de registros esteja vazia -->
  <div ng-if="count == 0">
    <div class="well-lg">
      <div class="text-center">
        <span class="alert alert-warning">
          Não há registros no banco de dados
        </span>
      </div>
    </div>
  </div>
  <table class="table table-striped" ng-if="count > 0">
    <thead>
      <tr>
        <th>
          <span class="glyphicon glyphicon-sort" style="-webkit-transform:rotate(90deg);"></span>
        </th>
        <th>Horário</th>
        <th>Nome Completo</th>
        <th>Documento de Identificação</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="r in registros | orderBy:r.createdAt:true | limitTo:limit:((page-1)*limit)">
        <td>
          <span class="glyphicon
            glyphicon-log-{{(r.sentido == 'entrada')?'in':'out'}}
            text-{{(r.sentido == 'entrada')?'success':'danger'}}">
          </span>
        </td>
        <td>{{ r.momento | date:'short':'-0300' }}</td>
        <td>{{ r.nome | uppercase }}</td>
        <td><strong>{{ r.tipoDocumento }}</strong> {{ r.documento }}</td>
        <td>
          <span id="options{{$index}}" class="pull-right ">
            <button class="btn btn-xs btn-warning hvr-btn glyphicon glyphicon-trash"
              ng-click="delete(r.id)">
            </button>
          </span>
        </td>
      </tr>
      <tr ng-if="registros.length < 1">
        <td></td>
        <td></td>
        <td>Nenhum registro encontrado</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <center>
    <ul uib-pagination total-items="count" ng-model="page" ng-if="count>limit"
      max-size="5" boundary-links="true" previous-text="Anterior"
      next-text="Próximo" first-text="Primeira" last-text="Última"
      force-ellipses="true"></ul>
    <p ng-hide="!pagination.count">
      <small>Existem {{pagination.count}} registros no banco de dados</small>
    </p>
  </center>
</div>
