<h2>Ajuda</h2>
<div class="container">
  <p>
    <strong>PRESP</strong> é uma sigla que significa Programa para registro de
    entrada e saída de pessoas.
  </p>
  <p>Este programa serve para registrar um controle rápido e prático de entrada e
    saída de pessoas para exportação em arquivo de texto (texto puro e CSV).</p>
  <p>A página <strong>Registrar</strong> disponibiliza um formulário rápido de
    registro de pessoa para que o usuário adicione uma pessoa que está entrando ou
    saindo. A página <strong>Lista</strong> exibe todos os registros nos banco de
    dados. Enquanto a página <strong>Exportar</strong> permite que o usuário
    exporte os dados em texto puro e em CSV e que limpe o banco de dados.</p>
  <p>
    <span class="text-danger">
      Lembre-se de que apagar o banco de dados é uma ação permanente que não
      pode ser desfeita.
    </span>
  </p>
  <p>Para maiores detalhes, dúvidas ou reportar erros, problemas ou solicitar
    funcionalidades entre em contato com o desenvolvedor através dos dados
    exibidos no repositório Github do PRESP.</p>

    <div class="btn-group btn-group-justified" role="group" aria-label="Github Repo link">
      <div class="btn-group" role="group">
        <button class="btn btn-lg btn-primary" ng-click="openRepo()">
          <img src="img\GitHub-Mark-Light-64px.png" alt="GitHub Mark" height="32px" />
          <img src="img\GitHub_Logo.png" alt="GitHub Logo" height="32px" />
          &nbsp;
          <small>
            Yemolai/presp-electron-app
            &nbsp;
            <span class="glyphicon glyphicon-new-window"></span>
          </small>
        </button>
      </div>
    </div>

</div>
