<h3>Visitantes</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th id="headerCracha">Crachá</th>
      <th id="headerDocumento">Documento</th>
      <th id="headerNome">Nome</th>
      <th id="headerMomento">Momento</th>
      <th id="headerCheckout" class="text-center">Checkout</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="v in visitantes" ng-if="numeroDeVisitantes > 0">
      <td>{{v.cracha}}</td>
      <td>{{v.tipoDocumento}} {{v.documento}}</td>
      <td>{{v.pessoa}}</td>
      <td>{{v.momento | date:short:'-0300'}}</td>
      <td class="text-center">
        <button class="btn btn-xs btn-warning hvr-btn" ng-click="checkout(v.id)">
          <span class="glyphicon glyphicon-log-out"></span>
        </button>
      </td>
    </tr>
    <tr ng-if="numeroDeVisitantes > 0">
      <td colspan="5" style="text-align:center">{{numeroDeVisitantes}} visitante{{numeroDeVisitantes==1?'':'s'}}</td>
    </tr>
    <tr ng-if="numeroDeVisitantes == 0">
      <td colspan="5" style="text-align:center">Não há visitantes no momento</td>
    </tr>
  </tbody>
</table>
