<h3>Visitantes</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th id="headerCracha">Crachá</th>
      <th id="headerDocumento">Documento</th>
      <th id="headerNome">Nome</th>
      <th id="headerMomento">Momento</th>
      <th id="headerCheckout" class="text-center">Checkout</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="v in visitantes">
      <td>{{v.cracha}}</td>
      <td>{{v.tipoDoc}} {{v.doc}}</td>
      <td>{{v.nome}}</td>
      <td>{{v.momento}}</td>
      <td class="text-center">
        <button class="btn btn-xs btn-warning hvr-btn" ng-click="checkout(v.id)">
          <span class="glyphicon glyphicon-log-out"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
